#one{
	width: 30vh;
	height: 7.6vw;
	top: 10vw;
}
#searching{
	width: 111vh;
	height: 5.5vw;
	font-size: 2vw;
	border-radius: 3vw;
	top: 18vw;
}
#settings{
	width: 20vh;
	height: 4vw;
	font-size: 1.2vw;
	border-radius: 5vw;
}
#imgc{
	top: 26vw;	
	height: 10vw;
}
#weather{	
	clip-path: inset(3.8vw 0px 4.6vw 0px);
	height: 16.5vw;
	width: 23.5vh;
	margin-bottom: 12vw;
}
