#one{
 margin-bottom: -8vw;
 width: 30vh;
 height: 7.6vw;
 opacity: 0;
 z-index: 1;
}
#searching{
 width: 111vh;
 height: 5.5vw;
 font-size: 2vw;
 border-radius: 50px;
 background-color: transparent;
}
#settings{
 position: absolute;
 top: 0;
 left: 0;
 border-radius: 20px;
 width: 20vh;
 height: 4vw;
 font-size: 1.2vw;
}
#imgc{
 filter: var(--invert-status-image);
 height: 10vw;
 aspect-ratio: 1 / 1;
 border-radius: 100%;
}
#weather{
 filter: var(--invert-status);
 clip-path: inset(3.8vw 0px 4.6vw 0px);
 height: 16.5vw;
 width: 23.5vh;
 mix-blend-mode: var(--mix-blend-mode);
 margin-top: -3.8vw;
 margin-bottom: -4.6vw;
}