@media(orientation:portrait){
	#settings{
		width: 20vw;
		height: 4vh;
		font-size: 1.2vh;
		border-radius: 5vh;
	}
	#one{
		top: 32.3vh;
		width: 20vw;
		height: 7vh;
	}
	#imgc{
		height: 10vh;
		top: 47vh;
	}
	#searching{
		width: 80vw;
		height: 5vh;
		font-size: 2vh;
		border-radius: 3vh;
		top: 40vh;
	}
	#weather{
		height: 17vh;
		width: 24vw;
		clip-path: inset(3.8vh 0px 4.6vh 0px);	
		margin-bottom: 20vh;
	}
}
